body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color:hsl(212, 45%, 89%) ;
}
@font-face {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    src:url("Outfit-VariableFont_wght.ttf");
  }
  
.main{
    width:30%;
    height: 75%;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
.image{
    background-image: url("images/image-qr-code.png");
    background-position: center;
    background-size: cover;
    height: 70%;
    width: 100%;
    border-radius: 15px;
    padding: 0ch;
    margin: 0;
}
h1{
    text-align: center;
    color:hsl(218, 44%, 22%);
    font-family: "Outfit";
    font-weight: 700;
    font-size: 24px;
    padding: 0%;

   
    
}
p{
    text-align: center;
    font-family: "Outfit";
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 12px;
    padding: 10px;
}
@media (max-width:400px) {
    .main{
        width: 80%;
    }
    
}